{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Create Post{% endblock %}</h1>
{% endblock %}
{% block menu %}
<ul class="sidebar-nav">
        <li class="sidebar-nav__item">

            <a class="sidebar-nav__link" href="{{ url_for('blog.index') }}">
            <span>Home</span></a>


        </li>
        <li class="sidebar-nav__item sidebar-nav__item--active">
          {% if g.user %}
          <a class="sidebar-nav__link" href="{{ url_for('blog.create') }}">
            <span>Create</span></a>
          {% endif %}
        </li>
        <li class="sidebar-nav__item">
          <a href="#" class="sidebar-nav__link">
            <span>Work</span>
          </a>
        </li>
        <li class="sidebar-nav__item">
          <a href="#" class="sidebar-nav__link">
            <span>Contact</span>
          </a>
        </li>
      </ul>
      {%endblock %}

{% block middle %}
  <form method="post" enctype=multipart/form-data class="create">

    <input name="title" class="post-title"
           value="{{ request.form['title'] }}"
           placeholder="Title of Post"
           required>


    <textarea name="body"
              placeholder="write something"
              class="post-area">{{ request.form['body'] }}

    </textarea>
      <input type=file name=file class="choose-file">
    <input type="submit" value="Save" class="create-submit">
  </form>
{% endblock %}