{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}
{% block menu %}

<ul class="sidebar-nav">
        <li class="sidebar-nav__item">

            <a class="sidebar-nav__link" href="{{ url_for('blog.index') }}">
            <span>Home</span></a>


        </li>
        <li class="sidebar-nav__item">
          {% if g.user %}
          <a class="sidebar-nav__link" href="{{ url_for('blog.create') }}">
            <span>Create</span></a>
          {% endif %}
        </li>
        <li class="sidebar-nav__item">
          <a href="#" class="sidebar-nav__link">
            <span>Work</span>
          </a>
        </li>
        <li class="sidebar-nav__item">
          <a href="#" class="sidebar-nav__link">
            <span>Contact</span>
          </a>
        </li>
      <li class="sidebar-nav__item">
         {% if g.user %}
          <a href="{{url_for('profile.get',id=g.user.id)}}" class="sidebar-nav__link">
            <span>Profile</span>
          </a>
           {% endif %}
        </li>
      </ul>
      {%endblock %}
{% block middle %}
<div class="auth-content">

  <div class="register">

    <form class="login-form" method="post">
      <input
        type="text"
        id="full_names"
        name="full_names"
        placeholder="Enter your Full Names"
        class="login-form__input"
        required
      /><br />
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Enter your email"
        class="login-form__input"
        required
      /><br />

      <input
        type="password"
        id="password"
        name="password"
        placeholder="Enter your password"
        class="login-form__input"
      />
      <br />
      <input type="submit" class="login-form__submit-1" value="Register" />
    </form>
     <div class="already-have-account">
      Already Have An Account ?
    </div>

      <a href="{{url_for('auth.login')}}" class="login-btn">Login</a>

  </div>
</div>
{% endblock %}

